 /* tron blue =  #6ddad3 */

 /* tron orange = #DF740C */

 /* tron yellow = #FFE64D*/

 /* tron pane = #E6FFFF*/

 /* tron black = #0C141F */

 /* global variable */

 :root {
     --tron-yellow: #FFE64D;
     --tron-orange: #DF740C;
     --tron-pane: #E6FFFF;
     --tron-blue: #6ddad3;
     --tron-black: #0C141F;
 }

 * {
     box-sizing: border-box;
     z-index: 3;
 }

 body{
     max-width: 100%;
     margin: auto;
     /* width: 80%; */
 }
 li, a {
     font-size: 1.1em;
     text-decoration: none;
     color: inherit;
 }

 ul {
     list-style: none;
 }

 input:focus {
     outline: none;
 }

 body p, h1,h2,h3,h4,a,small {
     color: var(--tron-blue);
 }