 /* tron blue = #6ddad3 */

 /* tron orange = #DF740C */

 /* tron yellow = #FFE64D*/

 /* tron pane = #E6FFFF*/

 /* tron black = #0C141F */

 /* global variable */

 /* font-family: 'Play', sans-serif;
 */

 /* font-family: 'Russo One', sans-serif;
 */

 :root {
     --tron-yellow: #FFE64D;
     --tron-orange: #DF740C;
     --tron-pane: #E6FFFF;
     --tron-blue: #6ddad3;
     --tron-black: #0C141F;
 }

 p, a {
     font-family: 'Play', sans-serif;
 }

 h1, h2, h3, h4 {
     font-family: 'Russo One', sans-serif;
 }

 .header-perspective {
     perspective: 500px;
 }

 h1 {
     /* font-weight: bold;
    */
     font-size: 2em;
     text-align: center;
     transform: rotateX(20deg);
     text-shadow: -2px -2px 30px;
     margin: 1em 0 1em 0;
 }

 * {
     box-sizing: border-box;
 }

 body p, h1, h2, h3, h4, a, small, th, tr, td, span {
     color: var(--tron-blue);
 }

 body {
     max-width: 100%;
     margin: auto;
     /* width: 80%;
    */
     background-color: var(--tron-black);
 }

 section {
     position: relative;
     z-index: 5;
     margin: auto;
 }

 .news {
     width: 55vw;
     margin: auto;
 }

 .daily-deal {
     width: 70vw;
     margin: auto;
 }

 li, a {
     font-size: 1em;
     text-decoration: none;
 }

 strong {
     font-weight: bold;
     color: var(--tron-blue);
 }

 ul {
     list-style: none;
 }

 input:focus {
     outline: none;
 }

 .big-button {
     cursor: pointer;
     border: 1px solid var(--tron-blue);
     padding: 0.5vw;
     width: auto;
     overflow: visible;
     background: transparent;
     color: var(--tron-blue);
     margin: 0px;
     font-weight: bold;
     transition-duration: 800ms;
     transform: skewX(-20deg);
     margin: 0 0.5em;
 }

 .big-button:hover {
     color: var(--tron-black);
     background-color: var(--tron-pane);
 }

 ::-webkit-scrollbar {
     width: 0.3em;
     height: 0.3em;
 }

 ::-webkit-scrollbar-thumb {
     background: var(--tron-blue);
 }

 
 ::-webkit-scrollbar-thumb:hover {
     background: var(--tron-pane);
 }