/* header */

header {
    position: sticky;
    color: var(--tron-blue);
    background-color: black;
    top: 0px;
    opacity: 0.8;
    z-index: 8;
    /* height:13vh; */
}

/* body */

main {
    min-height: 70vh;
    background-color: var(--tron-black);
    margin-top: 3vh;
}

.news {
    width: 55vw;
    margin: auto;
}

/* data-base section hide on default */

.data-base {
    display: none;
    width: 80vw;
    margin: auto;
}

/* daily-deal section hide on default */

.daily-deal {
    display: none;
    width: 90vw;
    margin: auto;
}

/* footer */

footer {
    position: relative;
    background-color: black;
    min-height: 10vh;
    opacity: 0.8;
}

/* //footer end here// */

/* /////all MediaQuery///// */

@media only screen and (min-width:240px) and (max-width:650px) {
    /* //news page// */
    nav {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo search-bar" "cog fa-bars" ". ul"
    }
    #logo {
        width: 40vw;
        height: 16vw;
    }
    #quick-search-input {
        width: 40vw;
    }
    nav ul {
        display: none;
        text-align: center;
    }
    nav ul li {
        display: block;
    }
    .fa-bars {
        display: block !important;
        text-align: right;
        margin-right: 5vw;
    }
    .news {
        width: 90vw;
        margin: auto;
    }
    .news-template {
        width: 85vw;
        grid-template-columns: 1fr;
        grid-template-areas: "news-left" "img";
        margin: auto;
        perspective: 1000px;
    }
    .news-template>img {
        width: 80vw;
        height: 42vw;
        margin: auto;
    }
    /* //data page// */
    #popular-games {
        grid-template-columns: 1fr 1fr;
    }
    #popular-games img {
        width: 30vw;
        height: 42vw;
    }
    #popular-games-detail {
        width: 75vw;
        height: 65vh;
        overflow: auto;
        top: 20vh;
    }
    #popular-games-detail>div {
        grid-template-columns: 1fr;
        grid-template-areas: "img" "h2" "div";
    }
    #popular-games-detail img {
        width: 50vw;
        height: 70vw;
    }
    #quick-search-popup {
        width: 75vw;
        top: 15vh;
        right: 5vw;
        height: 70vh;
    }
    #quick-search-popup li {
        grid-template-columns: 1fr 2fr;
    }
    #quick-search-popup img {
        width: 30vw;
        height: 18vw;
    }
    /* //daily deal page// */
    label {
        margin: 0;
    }
    #deals-search-filter {
        width: 90vw;
    }
    #deals-search-filter div:nth-child(1)>.search-input {
        width: 60vw;
        font-size: 1em;
    }
    #deals-search-filter div:nth-child(2) {
        width: 90vw;
    }
    #deals-table {
        width: 90vw;
    }
    table {
        border-spacing: 0.2em;
    }
    .deals-thumb {
        width: 20vw;
        height: 10vw;
    }
    /* Hide elements for small screen */
    .deals-saving {
        display: none;
    }
    .deals-rating {
        display: none;
    }
    /* Hide elements for small screen */
}

@media only screen and (min-width:651px) and (max-width:1024px) {
    /* //news page// */
    .news {
        width: 75vw;
        margin: auto;
    }
    .news-template>img {
        width: 34vw;
        height: 20vw;
    }
    /* //data page// */
    #popular-games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #popular-games img {
        width: 20vw;
        height: 28vw;
    }
    #popular-games-detail {
        width: 70vw;
    }
    #popular-games-detail>div {
        grid-template-columns: 1fr 1fr;
    }
    #popular-games-detail img {
        width:25vw;
        height:35vw;
    }
    /* Quick search popup */
    #quick-search-popup {
        width: 50vw;
        top: 15vh;
        right: 5vw;
        height: 70vh;
    }
}