/* header */

header {
    position: sticky;
    color: var(--tron-blue);
    background-color: black;
    top: 0px;
    opacity: 0.8;
    z-index: 8;
    /* height:13vh; */
}

/* body */

main {
    min-height: 70vh;
    background-color: var(--tron-black);
    margin-top: 10vh;
}

/* footer */

footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". footer-mid footer-right";
    background-color: black;
    /* width:100vw; */
    height: 10vh;
    opacity: 0.8;
}

/* //footer end here// */