/* header modules */

nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "logo search-bar" "cog ul";
    /* grid-template-areas: "logo search-bar ul cog"; */
}

#logo {
    grid-area: logo;
    background-image: url("../src/api-logo.png");
    width: 15em;
    height: 6em;
    background-size: cover;
}

#search-bar {
    grid-area: search-bar;
    margin: auto;
    /* justify-self: end; */
}

#search-input {
    color: var(--tron-pane);
    font-weight: bold;
    border: none;
    border-bottom: 2px solid var(--tron-pane);
    padding: none;
    background-color: black;
}

#search-input:focus, #search-input:hover {
    transition-duration: 0.5s;
    transform: scaleY(1.5);
    border-bottom: 2px solid var(--tron-blue);
}

.search {
    background-color: var(--tron-blue);
    border: 0px;
}

.fa-search {
    width: 2em;
    height: 2em;
}

.fa-search:hover, .fa-search:active {
    transition-duration: 0.3s;
    transform: scale(1.2);
}

.fa-cog {
    grid-area: cog;
    font-size: 2em;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    animation: spinner 5s linear infinite;
}

.fa-cog:hover {
    position: absolute;
    /* top: 0px; */
    /* animation: spinner 5s linear infinite; */
    animation: paused;
    transform: scale(1.3);
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav ul {
    grid-area: ul;
    margin: auto;
}

nav ul>li {
    display: inline-block;
    /* color:var(--tron-pane); */
    padding: 1em 2em 1em 2em;
}

nav ul>li:hover {
    /* color:var(--tron-yellow); */
    transition-duration: 0.3s;
    transform: scale(1.2);
    outline: 1px solid var(--tron-blue);
}

/* header modules end here */

/* news modules */

.news-template {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "news-left img";
    margin: auto;
    /* margin:auto; */
    width: 65vw;
    perspective: 1000px;
}

.news-left {
    grid-area: news-left;
    border-top: 1px solid var(--tron-blue);
    /* transform: rotate(342deg) scale(1.061) skew(-22deg) translate(21px); */
    
}

.news-left>h3 {
    color: var(--tron-yellow);
    font-size: 1.5em;
    /* background-color: var(--tron-blue); */
}

.news-left>p {
    font-size: 1.2em;
}

.news-template>img {
    grid-area: img;
    width: 20vw;
    height: 13vw;
    margin: 1em auto;
    /* transform: rotate(-342deg) scale(1.061) skew(22deg) translate(21px); */
}