/* header modules */

nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "logo search-bar" "cog ul";
    /* grid-template-areas: "logo search-bar ul cog"; */
}

#logo {
    grid-area: logo;
    background-image: url("../src/api-logo.png");
    width: 15em;
    height: 6em;
    background-size: cover;
}

#search-bar {
    grid-area: search-bar;
    margin: auto;
    /* justify-self: end; */
}

.search-input {
    color: var(--tron-pane);
    font-weight: bold;
    border: none;
    border-bottom: 2px solid var(--tron-pane);
    padding: none;
    background-color: black;
}

.search-input:focus, .search-input:hover {
    transition-duration: 0.5s;
    transform: scaleY(1.5);
    border-bottom: 2px solid var(--tron-blue);
}

.search {
    background-color: var(--tron-blue);
    border: 0px;
}

.fa-search {
    width: 2em;
    height: 2em;
}

.fa-search:hover, .fa-search:active {
    transition-duration: 0.3s;
    transform: scale(1.2);
}

#testing {
    font-family: 'Play', sans-serif;
    font-size: 1em;
    text-align: center;
    color: var(--tron-blue);
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}

.fa-cog {
    grid-area: cog;
    font-size: 2em;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    animation: spinner 5s linear infinite;
}

.fa-cog:hover {
    position: absolute;
    /* top: 0px; */
    /* animation: spinner 5s linear infinite; */
    animation: paused;
    transform: scale(1.3);
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fa-bars{
    grid-area:fa-bars;
    display: none !important;
    font-size: 2em;
}
.fa-bars:hover{
    color:var(--tron-pane);
}
nav ul {
    grid-area: ul;
    margin: auto;
}

nav ul>li {
    display: inline-block;
    /* color:var(--tron-pane); */
    padding: 0.5em 2em 0.5em 2em;
    margin: 0 0.7em 0 0.7em;
}

nav ul>li:hover {
    /* color:var(--tron-yellow); */
    transition-duration: 0.3s;
    transform: scale(1.1);
    outline: 2px solid var(--tron-blue);
}

.active {
    transform: scale(1.1);
    outline: 2px solid var(--tron-blue);
}

/* header modules end here */

/* data-base here */

#data-base-search-bar {
    /* text-align: center; */
    display: grid;
    grid-template-areas: "searchbar filter";
    grid-template-columns: 1fr 1fr;
    width: 65vw;
    margin: auto;
}

#data-base-search-bar>input {
    width: 25vw;
    grid-area: searchbar;
}

#popular-games {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2;
}

#popular-games li {
    display: inline-block;
    text-align: center;
}

#popular-games img {
    width: 10vw;
    height: 14vw;
}

#popular-games img:hover {
    opacity: 0.8;
    outline: solid var(--tron-orange);
    cursor: pointer;
}

#popular-games-detail {
    display: none;
    position: fixed;
    width: 50vw;
    margin: 0px auto;
    background-color: rgb(78, 78, 78, 0.9);
    padding: 1em;
    top: 30vh;
    left: 8vw;
    height: 55vh;
    overflow: auto;
    z-index: 10;
}

#popular-games-detail>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img h2" "img div" "img div";
}

#quick-search-popup {
    display: none;
    position: fixed;
    width: 30vw;
    margin: 0px auto;
    background-color: rgb(78, 78, 78, 0.9);
    padding: 0.5em;
    top: 20vh;
    right: 10vw;
    height: 70vh;
    overflow: auto;
    z-index: 6;
}

#quick-search-popup>li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas: "quick-search-img quick-search-title"; */
}

#quick-search-popup img {
    /* grid-area: quick-search-img; */
    width: 12vw;
    height: 7vw;
    object-fit: contain;
    padding: 0.5em;
}

#quick-search-popup img:hover {
    opacity: 0.8;
    outline: solid var(--tron-orange);
    cursor: pointer;
}

#quick-search-popup p {
    /* grid-area: quick-search-title; */
    margin: auto;
}

.fa-window-close {
    font-size: 2em;
    position: absolute;
    top: 0px;
    right: 0px;
}

.fa-window-close:hover {
    color: var(--tron-pane);
    transition-duration: 300ms;
    cursor: pointer;
}

#popular-games-detail img {
    grid-area: img;
    width: 15vw;
    height: 21vw;
    object-fit: fill;
    margin: auto;
}

#popular-games-detail h2 {
    grid-area: h2;
    font-size: 1.3em;
    /* text-shadow: -2px -2px 20px; */
    margin: 1em;
}

#popular-games-detail div p {
    grid-area: div;
    color: var(--tron-pane);
    /* text-shadow: -2px -2px 20px; */
}

/* data-base end here */

/* news modules */

.news-template {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "news-left img";
    margin: auto;
    perspective: 1000px;
}

.news-left {
    grid-area: news-left;
    border-top: 1px solid var(--tron-blue);
    transform: rotateX(15deg);
    text-shadow: -2px -2px 25px;
}

.news-left>h3 {
    color: var(--tron-blue);
    font-size: 1.2em;
    /* text-align: auto; */
    /* background-color: var(--tron-blue); */
}

.news-left>p {
    color: var(--tron-pane);
    font-size: 1.2em;
}

.news-left>a {
    color: var(--tron-pane);
    text-decoration: underline;
}

.news-template>img {
    grid-area: img;
    width: 17vw;
    height: 10vw;
    margin: 1em auto;
    border-top: 2px solid var(--tron-blue);
    border-bottom: 2px solid var(--tron-blue);
}

/* //news modules end here */

/* /////daily-deal section///// */

label {
    color: var(--tron-blue);
    margin: 0.5em;
}

#deals-search-filter {
    color: var(--tron-blue);
    display: grid;
    grid-template-areas: "search" "slider" "checkbox" "button";
    width: 70vw;
    font-size: 1.2em;
    font-weight: bold;
    grid-gap: 0.5em;
    margin: 1em auto;
}

#deals-search-filter div:nth-child(1) {
    grid-area: search;
    margin: 1em auto;
}

#deals-search-filter div:nth-child(1)>.search-input {
    width: 25vw;
    font-size: 1.5em;
}

#deals-search-filter div:nth-child(1)>.search-input:hover {
    transition-duration: 300ms;
    transform: scaleX(1.2);
    /* transform: scaleY(1); */
}

#deals-search-filter div:nth-child(1)>.search-input:focus {
    transition-duration: 300ms;
    transform: scaleX(1.2);
}

#deals-search-filter div:nth-child(2) {
    grid-area: slider;
    margin: auto;
}

#deals-search-filter div:nth-child(3) {
    grid-area: checkbox;
    margin: auto;
}

#deals-search-filter div:nth-child(4) {
    grid-area: button;
    margin: auto;
}

#deals-table {
    width: 65vw;
    margin: auto;
    /* text-align: center; */
}

table {
    border-collapse: separate;
    border-spacing: 0.5em;
    text-align: center;
}

.deals-thumb {
    width: 100px;
    height: 40px;
    background-size: contain;
}

.deals-title {
    text-align: left;
    text-decoration: underline;
}

th {
    font-weight: bold;
    cursor: pointer;
}

/* /////daily-deal end here ///// */

/* //footer here // */

.scroll-top {
    font-size: 3em;
    color: var(--tron-blue);
    position: fixed;
    bottom: 5%;
    right: 5%;
    opacity: 0.6;
    border: 0;
    z-index: 10;
}

.scroll-top:hover {
    transition-duration: 300ms;
    color: var(--tron-pane);
}

footer p {
    color: var(--tron-blue);
    text-align: center;
    margin: auto;
}

footer ul>li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 0.5em;
}

#news-logo {
    background-image: url("https://pbs.twimg.com/profile_images/942571181051400192/rudqtcNK_400x400.jpg");
    background-size: cover;
    /* margin: auto; */
}

#igdb-logo {
    background-image: url("../src/igdb-logo.png");
    background-size: cover;
    /* margin: auto; */
}

#cheap-shark {
    background-image: url("https://www.cheapshark.com/img/logo_image.png");
    background-size: cover;
    /* margin: auto; */
}

.footer-mid {
    grid-area: footer-mid;
    margin: auto;
    text-align: center;
}

.footer-right {
    grid-area: footer-right;
    margin: auto;
}

.fa-spinner {
    animation: spinner 1s linear infinite;
}

/* //footer end here// */